* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans,
    Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    list-style: none;
    text-decoration: none;
}

:root {
    --color-main: #247AFD;
}

a {
    cursor: pointer;
}

body {
    background-color: #f7f8fc;
    color: #10182f;
}

.logo img {
    max-width: 100%;
    width: 160px;
    height: auto;
}

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f7f8fc;
    padding: 5px 7%;
}

.navbar {
    display: flex;
}

.navbar a {
    color: #161616;
    font-weight: 500;
    font-size: 1rem;
    padding: 10px 20px;
}

.navbar a:hover {
    background-color: var(--color-main);
    color: #fff;
    border-radius: 4px;
}

#menu-icon {
    font-size: 30px;
    color: #161616;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

.btn {
    font-size: 14px;
    display: inline-flex;
    justify-content: center;
    font-weight: 600;
    height: 60px;
    line-height: 60px;
    background: var(--color-main);
    color: #fff;
    padding: 0 30px;
    text-transform: uppercase;
    transition: all .34s;
    border-radius: 10px;
}

.btn:hover {
    opacity: 0.9;
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    align-items: flex-start;
    margin-top: 100px;
}

section {
    padding: 0 16%;
}

.text {
    padding-top: 70px;
}

.text .slide {
    margin-bottom: 20px;
}

.text .first-word {
    height: 40px;
    padding: 0 15px;
    line-height: 40px;
    font-size: 24px;
    font-weight: 500;
    border-radius: 5px;
    background: #ffbb01;
    color: #fff;
    display: inline-block;
    margin-right: 22px;
}

.text .second-word {
    font-size: 24px;
    color: #161616;
    display: inline-block;
    font-weight: 500;
}

.text h1 {
    font-size: 55px;
    font-weight: 700;
    color: #161616;
    line-height: 0.9;
    margin: 0 0 8px;
}

.text h2 {
    color: #161616;
    margin: 0 0 30px;
    font-size: 80px;
    font-weight: 700;
    line-height: 1;
}

.text-career {
    color: var(--color-main);
}

.text p {
    color: #6a6a6a;
    font-size: 20px;
    line-height: 1.6;
    margin-bottom: 40px;
}

.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.btn-second {
    font-size: 14px;
    font-weight: 600;
    color: #161616;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 40px;
}

.btn-second span i {
    height: 60px;
    width: 60px;
    background: #fff;
    font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    box-shadow: 0px 10px 8px rgb(3 12 29 /10%);
    margin-right: 20px;
    transition: ease .30s;
}

.social {
    position: absolute;
    top: 50%;
    padding: 0 7%;
    transform: translateY(-50%);
}

.social ul li {
    margin: 20px;
}

.social ul li i {
    font-size: 22px;
    color: #161616;
    transition: all .30s;
}

.social ul li i:hover {
    transform: translateY(-5px);
    color: var(--color-main);
}

.title-jobs {
    margin: 40px 20px;
    font-size: 20px;
}

.job {
    font-size: 28px;
    margin-bottom: 10px;
}

.container-cards {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0;
    background-color: #f7f8fc;
    font-family: "Roboto", sans-serif;
    color: #10182f;
}

.card {
    margin: 10px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 20px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    width: 300px;
}

.card-header img {
    width: 100%;
}

.card-body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    min-height: 250px;
}

.tag {
    background: #cccccc;
    border-radius: 50px;
    font-size: 12px;
    margin-bottom: 4px;
    color: #fff;
    text-transform: uppercase;
    padding: 5px 15px;
    cursor: pointer;
}

.tag-teal {
    background-color: #47bcd4;
}

.tag-purple {
    background-color: #5e76bf;
}

.tag-pink {
    background-color: #cd5b9f;
}

.content-job {
    padding: 5px 0;
}

.card-body p {
    font-size: 13px;
    margin: 0 0 40px;
}

.user {
    display: flex;
    margin-top: auto;
}

.user img {
    border-radius: 50%;
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.user-info h5 {
    margin: 0;
}

.user-info small {
    color: #545d7a;
}

.icon-message {
    font-size: 28px;
    padding: 6px;
    margin: 0px;
    line-height: 48px;
}

/*modal*/
.w3-modal-content{
    border-radius: 1rem;
}
.w3-container {
    padding: 25px;
}

.close-modal {
    color: #aaa;
}
.close-modal:hover {
    background: unset !important;
}

.modal-header-jobs {
    margin-top: 16px;
}
.title-content-modal{
    font-size: 26px;
    font-weight: 600;
}

.btn-content-job {
    border: none;
    font-size: 11px;
    float: right;
    height: 48px;
    line-height: 43px;
    padding: 0 25px;
}

.progress {
    margin:20px auto;
    padding:0;
    width:90%;
    height:20px;
    overflow:hidden;
    background:#e5e5e5;
    border-radius:6px;
  }
  
  .bar {
      position:relative;
    float:left;
    min-width:1%;
    height:100%;
    background:cornflowerblue;
  }
  
  .percent {
    position:absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    margin:0;
    font-family:tahoma,arial,helvetica;
    font-size:10px;
    color:white;
  }

  .content-skills {
    display: inline-block;
    width: 110px;
  }

  .title-skill {
    text-align: center;
  }


footer {
    font-size: 14px;
    margin: 10px auto;
}


@media (max-width: 1380px) {
    header {
        padding: 18px 2%;
        transition: .2s;
    }

    section {
        padding: 0 2%;
        transition: .2s;
    }

    .social {
        display: none;
    }
}

@media (max-width: 1120px) {
    header {
        padding: 14px 2%;
    }

    #menu-icon {
        display: initial;
    }

    .text h1 {
        font-size: 2.8rem;
        transition: .2s;
    }

    .text h2 {
        font-size: 3rem;
        transition: .2s;
    }

    .text p {
        font-size: 17px;
        transition: .2s;
    }

    .btn {
        height: 50px;
        line-height: 50px;
        padding: 0 28px;
    }

    .btn-second {
        margin-left: 20px;
    }

    .btn-second span i {
        height: 50px;
        width: 50px;
        font-size: 30px;
    }

    .navbar {
        position: absolute;
        top: -700px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        background: var(--color-main);
        text-align: left;
        transition: all .35s ease;
    }

    .navbar a {
        display: block;
        padding: 1.0rem;
        margin: 0.5rem;
        color: #fff;
    }

    .navbar a:hover {
        background: #fff;
        color: #161616;
    }

    .navbar a::after {
        display: none;
    }

    .navbar.active {
        top: 100%;
    }
}

@media (max-width: 640px) {
    section {
        padding: 0 3%;
    }

    header {
        padding: 14px 3%;
    }
}


@media (max-width: 768px) {
    .w3-modal {
        padding-top: 122px;
    }
    .btn{
        font-size: 8px;
        padding: 0 20px;
        line-height: 40px;
        height: 42px;
    }
    .icon-message{
        line-height: 32px;
        font-size: 20px;
    }
}